<header class="bg-primary text-white">
  <div class="container text-center">
    <h1>Welcome to Recipe</h1>
    <p class="lead">Daily dose of Recipe you need to live a good life.</p>
  </div>
</header>